<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<% if logged_in? && (@user == current_user) %>
  <h1><strong>My Enrollments:</strong></h1>
    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Description</th>
          <th>Independent study</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    <% @user.courses.each do |course| %>
      <tbody>
        <tr>
          <td><%= course.code %></td>
          <td><%= course.name %></td>
          <td><%= course.description %></td>
          <td><%= course.independent_study %></td>
          <td><%= link_to 'Show', course %></td>
        </tr>
      </tbody>
    <% end %>
  <br>
<% end %>
