<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<h2>Search</h2>
<%= form_tag(courses_path, method: "get", id: "search") do %>
  <%= select_tag "subject", options_from_collection_for_select(Subject.all, "id", "name"), id: "subjects" %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Courses" %>
<% end %>

<div id="courses">
  <%= render 'courses' %>
</div>
