<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "totally not a ripoff", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
              <li><%= link_to "Home", current_user %></li>
              <li class="divider"></li>
              <li><%= link_to 'All Courses', '/courses/all' %></li>
              <li class="divider"></li>
              <li><%= link_to 'Subjects', subjects_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'Instructors', instructors_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Search Courses", courses_path %></li>
              <li class="divider"></li>

              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
